.timerContainer {
  position: absolute;
  left: 70%;
  bottom: 5%;
}

#cdCircle{
    background-color: #6fc;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    left: 2%;
    top: 30px;
}

#cdSetTime{
    position:relative;
    left: 10%;
    bottom: 175px;
    font-style:italic;
    font-size: 24px;
}

.cdButton {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  width: 50px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  position: relative;
  left: -130px;


}

.cdButton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.2s;
}

.cdButton span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
    color: aqua;
}

.cdButton:hover span {
  padding-right: 10px;
}

.cdButton:hover span:after {
  opacity: 1;
  right: 0;
}

#cdHiddenAlarmTxt{
    position: relative;
    bottom: 155px;
    left: 45px;
    visibility: hidden;
}

#stopButton{
    width: 100px;
    position: relative;
    bottom: 150px;
    left: 80px;
    visibility: hidden;
}
